#hide {
  display: none;
}

#wands {
  position: absolute;
  top: 50%;
  left: 10%;
}

.title {
  color: #997300;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 20px;
}

body {
  background-image: url("./../img/cap.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 400px;
  background-attachment: fixed;
}
